.searches{
    display: inline-flex;
    padding: 5px;
    border-radius: 50px;
    transition: 0.4s;
    background-color: rgba(81, 0, 0, 0.88);
    box-shadow: 1px 1px 5px black;
}

.searches:hover{
    width: 27.5rem;
}

.searches:active{
    width: 27.5rem;
}

.searches:hover input{
    width: 18rem;
}

.searches:hover input[type*="reset"]{
    width: 6rem;
    border: solid white;
    border-radius: 50px;
    background-color: white;
    color: rgba(81, 0, 0, 1);
}

form{
    display: flex;
    place-items: center;
}

::placeholder{
    text-align: center;
}

.searches:hover #look{
    width: 5rem;
    display: block;
}

.searchBox{
    background-color: white;
    height: 13rem;
    width: 30rem;
    display: grid;
    place-items: center;
    box-shadow: 1px 1px 10px white;
}

#area{
    margin: 1% auto;
    height: 33vw;
    width: 40rem;
    background-color: black;
    box-shadow: 1px 1px 7px black;
    display: grid;
    place-items: center;
}

#look{
    border: none;
    width: 0;
    background: transparent;
    border: 0;
    padding: 0;
    display: none;
    font-size: 17px;
    color: #f9f9f9;
    cursor: pointer;
}

.searches input{
    border: none;
    width: 0;
    /* text-indent: 4px; */
    transition: 0.4s;
    background: transparent;
    border: 0;
    padding: 0;
    color: #f9f9f9;
    font-size: 22px;
    outline: none;
}

.searches input[type*="reset"]{
    border: none;
    width: 0;
    transition: 0.4s;
    background: transparent;
    border: 0;
    padding: 0;
    color: #f9f9f9;
    font-size: 1.3rem;
    outline: none;
    text-align: center;
    filter: drop-shadow(1px 1px 2px black);
}

.searches input[type*="reset"]:hover{
    border: solid white;
    color: white;
    background-color: rgba(81, 0, 0, 1);
}

.searches input[type*="reset"]:active{
    transition: 0.4s;
    background-color: black;
    color: white;
    border: solid rgba(81, 0, 0, 1);
    filter: drop-shadow(1px 1px 2px white);
}

.ico{
    font-size: 3rem;
    color: white;
    background: transparent;
}

#area img{
    height: 10rem;
    width: 11rem;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
    border: solid white;
}

#area h4{
    margin: 0;
    padding: 0;
    color: white;
}

#p_stats h3{
    font-size: 2rem;
    color: white;
}

.ball{
    color: white;
    font-size: 3rem;
}

.stat{
    color: white;
}


@media only screen and (max-width:660px){

    .searchBox{
        height: 18rem;
        width: 23rem;
    }

    .searches{
        padding: 5%;
    }

    .searches:hover{
        width: 18rem;
    }
    
    .searches:active{
        width: 18rem;
    }
    
    .searches:hover input{
        width: 9rem;
    }

    .searches input[type*="reset"]{
        padding: 0px !important;
        margin: 0px !important;
    }

    .searches:hover input[type*="reset"]{
        padding: 0px !important;
        margin: 0px !important;
        text-align: center;
    }

    #area h4{
        font-size: 1.8rem;
    }
    
    .ico{
        font-size: 2.6rem;
    }

    .ball{
        color: white;
        font-size: 2.4rem;
    }

    #area{
        margin: 2% auto;
        height: 32rem;
        width: 20rem;
    }

    #area img{
        height: 8rem;
        width: 8rem;
        margin-top: 2%;
        margin-bottom: 2%;
    }


}