.searches{
    display: inline-flex;
    padding: 5px;
    border-radius: 50px;
    transition: 0.4s;
    background-color: rgba(81, 0, 0, 0.88);
}

.searches:hover{
    width: 27rem;
}

.searches:active{
    width: 27rem;
}

.searches:hover input{
    width: 20rem;
}

.searches:hover #look{
    width: 5rem;
    display: block;
}

.searchBox{
    background-color: white;
    height: 12rem;
    width: 30rem;
    display: grid;
    place-items: center;
    box-shadow: 1px 1px 10px white;
}

#area{
    margin: 1% auto;
    height: 30vw;
    width: 40rem;
    background-color: black;
    box-shadow: 1px 1px 7px black;
    display: grid;
    place-items: center;
}

#look{
    border: none;
    width: 0;
    background: transparent;
    border: 0;
    padding: 0;
    display: none;
    font-size: 17px;
    color: #f9f9f9;
    cursor: pointer;
}

.searches input{
    border: none;
    width: 0;
    text-indent: 4px;
    transition: 0.4s;
    background: transparent;
    border: 0;
    padding: 0;
    color: #f9f9f9;
    font-size: 22px;
    outline: none;
}

.ico{
    font-size: 3rem;
    color: white;
    background: transparent;
}

#area img{
    height: 10rem;
    width: 11rem;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}

#area h4{
    margin: 0;
    padding: 0;
    color: white;
}

#p_stats h3{
    font-size: 2rem;
    color: white;
}

.ball{
    color: white;
    font-size: 3rem;
}

.stat{
    color: white;
}


@media only screen and (max-width:600px){
    .searches{
        padding: 20px;
    }

    .searches:hover{
        width: 18rem;
    }
    
    .searches:active{
        width: 18rem;
    }
    
    .searches:hover input{
        width: 17rem;
    }
}