#box{
    margin-top: 4%;
    height: 38rem;
    width:40rem;
    background-color: white;
    box-shadow: 1px 1px 5px white;
    color: black;
}

#box h4{
    font-size: 1.4rem;
}

#box p{
    font-size:  1.1rem;
}

.icon_box{
    color:black;
    font-size: 1.5rem;
    margin-top: 1%;
}

#team_s{
    display: grid;
    place-items: center;
}

.against{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    font-size: 1.5rem;
    margin-top: 1%;
}

#discipline{
    display: inline-flex;
}

@media only screen and (max-width:660px){
  
    #discipline p{
        padding: auto 5%;
    }  

    #box{
        margin-top: 4%;
        height: 18rem;
        width:20rem;
    }

    .icon_box{
        font-size: 2rem;
    }
}