*{
    margin: 0;
    padding: 0;
}

#tab{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: rgb(102, 0, 0);
    width: 100%;
}

table, td {
    border: 1px solid;
}
  
table{
    color: white;
    width: 100%;
}

.head{
    background-color: white;
}

.none{
    border: 0px;
}

thead h4{
    background-color: black;
    color:white;
    font-size: 2rem;
}

.na{
    font-size: 1.7rem;
    font-weight: bolder;
}

.la{
    font-size: 1.2rem;
    font-weight: bolder;
}

.num{
    font-weight: bolder;
    color: rgb(185, 184, 184);
    font-size: 1.2rem;
}

.city{
    font-size: 1.2rem;
    color:black;
}

.cnt{
    color:black;
}

#information{
    display: grid;
    margin: 1rem 0;
}

.pic{
    display: none;
    height: 25rem;
    margin-top: 2%;
    border: solid white;
}

.cells:hover .pic{
    display: grid;  
    justify-self: center;
}

.cells:hover .inst{
    display: block;
}

.inst{
    font-size: 1.8rem;
    margin: 2% auto;
    display: none;
}

.team{
    max-height: 80%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to top right, white, black) 1;
}

.team:hover{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0px;
}

@media only screen and (max-width:660px){
    .pic{
        height: 9rem;
        margin: 1% auto;

    }

    .inst{
        font-size: 1.8rem;
        margin: 8% auto;
        display: none;
    }

    .na{
        margin-top: 3%;
        font-size: 1.2rem;
    }

    .la{
        margin-top: 3%;
        font-size: 0.9rem;
    }

    .city{
        margin-bottom: 3%;
        font-size: 1rem;
    }

    .cnt{
        margin-bottom: 3%;
        font-size: 0.8rem;
    }

    .num{
        font-size: 1rem;
    }

    #information{
        display: grid;
    }

    .team{
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0px;
    }
    
}