#players{
    display: flex;
    align-content:flex-start;
    justify-content: center;
}

h2{ 
    padding: 5%;
    color: white;  
    text-align: center;
    font-size: 3rem;
}

#holster{
    background-color: rgba(81, 0, 0);
    padding-top: 5%;
    min-height: 100vh;
}


#t_stats{
    background-image: url("./photo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 55vw;
    text-align: center;
    color: white;
}

#t_stats h3{
    font-size: 3rem;
    padding-top: 0.7rem;
}

#p_stats{
    min-height: 35vw;
    text-align: center;
    background-image: url("./photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#holder{
    display: grid;
    place-items: center;
}

#cont{
    display: grid;
    place-items: center;
}

h5{
    margin: 1%;
    font-size: 2rem;
    color: white;
}


@media only screen and (max-width:600px){
    .searchBox{
        height: 8rem;
        width: 20rem;
    }

    .searches{
        padding: 20px;
    }

    #players{
        display: flex;
        align-content:center;
        justify-content: center;
    }

    h2{
        padding: 8%;
    }

    .searches:hover{
        width: 18rem;
    }
    
    .searches:active{
        width: 18rem;
    }
    
    .searches:hover input{
        width: 17rem;
    }
}