*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(102, 0, 0);
    opacity: 0.8;
    width: 100%;
    min-height: 20vw;
    text-align: center;
    color: white;
}

footer:hover{
    opacity: 1;
}


h4{
    font-size: 2rem;
    padding: 1%;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

footer p{
    padding: 0.7rem;
}

.icon{
    font-size: 2rem;
    margin: 1% auto;
}

.icon2{
    font-size: 2.3rem;
    margin: 1% auto;
}

.icon3{
    font-size: 1.3rem;
    margin: 5% auto;
}

.icons{
    display: grid;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

address{
    margin: 1% auto;
}

#map{
    display: grid;
    place-items: center;
}

iframe{
    height: 25rem;
    width: 35rem;
    border: solid black;
    margin: 1% auto 2% auto;
    filter: drop-shadow(1px 1px 5px black);
}

@media only screen and (max-width:660px){
    
    footer p{
        padding: 1rem;
    }

    h6{
        padding: 1rem;
    }

    h5{
        padding: 1rem;
    }

    iframe{
        height: 15rem;
        width: 20rem;
        filter: drop-shadow(1px 1px 4px black);
        margin: 2% auto 4% auto;
    }
    
}