*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(102, 0, 0);
    opacity: 0.8;
    width: 100%;
    min-height: 10vw;
    text-align: center;
    color: white;
}

footer:hover{
    opacity: 1;
}


h4{
    font-size: 2rem;
    padding: 1%;
    background-color: rgb(102, 0, 0);
}

h5{
    font-size: 1.5rem;
    background-color: rgb(102, 0, 0);
}

h6{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(102, 0, 0);
}

p{
    padding: 0.5rem;
    background-color: rgb(102, 0, 0);
}

.icon{
    font-size: 2rem;
    margin: 0.2rem auto;
    background-color: rgb(102, 0, 0);
}

.icon2{
    font-size: 2.3rem;
    margin: 0.2rem auto;
    background-color: rgb(102, 0, 0);
}

.icon3{
    font-size: 1.3rem;
    margin: 5% auto;
    background-color: rgb(102, 0, 0);
}

.icons{
    display: grid;
    background-color: rgb(102, 0, 0);
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}